body {
  margin: 0;
  padding: 0;
  background: rgb(155, 6, 1);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgb(0, 0, 0), rgb(165, 5, 0));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(141, 5, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
